@model object

@{
 ViewBag.Title = "Политика конфиденциальности";
}

<h1 align="center">Политика конфиденциальности</h1>
<p><br>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую приложение ItHappened, может получить о Пользователе во время использования приожения.</p>

<h3>Общие положения.</h3>

<p><br> 1. Использование Пользователем нашего приложения означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.<br>
 2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование приложения.<br>
 3. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем приложения.</p>

<h3>Предмет политики конфиденциальности.</h3>

<p><br>1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации приложения по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации приложения при регистрации в приложении. <br>
 2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём регистрации используя Google-аккаунт и включают в себя следующую информацию, указанную в аккаунте Google: <br>
 2.1 адрес электронной почты(e-mail); <br>
 2.2 ссылку на изображение в профиле.</p>

<h3>Цели сбора персональной информации пользователя.</h3>

<p>1. Персональные данные Пользователя используются для создания учетной записи на сервере.<br>
 2. Персональные данные Пользователя используются для синхронизации данных приложения с данными, хранимыми на сервере.</p>